<!DOCTYPE html>
<html>
	<head>
		<title>GALLERY</title>
		<link href="{{ url_for('static', filename='css/cssbox.css') }}"
					rel="stylesheet"/>
	</head>
	<body>
		<h1>Upload File</h1>
		<form action="/pic" method="post" enctype="multipart/form-data">
			<input type=file name=file>
			<input type=submit value=Upload>
		</form>
		<h1>Gallery</h1>
		<div>
			{% for image in images %}
				<div class="cssbox">
					<a id="img{{ image[0] }}" href="#img{{ image[0] }}">
						<img class="cssbox_thumb" src="static/pictures/{{ ''.join(image) }}"
								 width=400 />
						<span class="cssbox_full">
							<img src="static/pictures/{{ ''.join(image) }}"/>
						</span>
					</a>
					<a class="cssbox_close" href="#void"></a>
					{% if not loop.first %}
						<a class="cssbox_prev" href="#img{{ loop.previtem[0] }}">&lt;</a>
					{% endif %}
					{% if not loop.last %}
						<a class="cssbox_next" href="#img{{ loop.nextitem[0] }}">&gt;</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</body>
</html>
